@use 'variables' as *;
@use 'mixins' as *;

* {
  box-sizing: border-box;
  list-style: none;
}

body {
  @include flexMixin();

  max-width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  color: $white-color;

  background-color: $bg-color;
}
