@use 'variables';

/* CUSTOM */
@mixin flexMixin($gap: 0, $flexDir: row) {
  display: flex;
  flex-direction: $flexDir;
  align-items: center;
  justify-content: center;
  gap: $gap;
}


/* MEDIA QUERY */
@mixin pc {
  @media (max-width: $pc) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
