$main-color: hsl(182, 87%, 51%);
$sub-color: hsl(278, 73%, 56%);
$bg-color: hsl(349, 99%, 63%);
$white-color: hsl(0, 0%, 93%);
$neon-blue-color: hsl(256, 98%, 45%);
$orange-color: hsl(32, 98%, 45%);
$black-color-100: hsl(0, 0%, 31%);
$black-color-500: hsl(0, 0%, 17%);
$black-color-900:  hsl(0, 0%, 0%);

$width-iphone-XR: 414px;
