@use '@styles' as *;

.container {
  @include flexMixin(36px, column);

  width: 100%;
  height: 100vh;
  
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  h1 {
    font-size: 10vw;
    font-weight: 900;
    text-align: center;
    color: $black-color-900;
  }
  p {
    font-size: 2vw;
    font-weight: 500;
    line-height: 24px;
    color: $black-color-500;
  }
  button {
    
  }
}
